<h3>Spieler</h3>

<table *ngIf="players$ | async as players">
    <thead>
        <tr>
            <th>👨‍🌾 Name</th>
            <th>💰 Punkte</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of players">
            <td>
                {{ p.emoji }} {{ p.name }}
                <ng-container *ngIf="p.isMe">(ich)</ng-container>
                <button (click)="removePlayer(p.id)" *ngIf="!(gameStarted$ | async) && (p.isMe || (gameCreatedByMe$ | async))">X</button>
            </td>
            <td>{{ p.score }}</td>
        </tr>
    </tbody>
</table>