<h2 class="sub-headline">Kategorien festlegen</h2>

<div class="categories-panel space-x-2 p-2">
    <button type="button"
        class="categories-panel-button rounded-md hover:bg-green-800 hover:bg-opacity-20 text-md font-medium"
        [class.disabled]="c.added"
        (click)="c.added ? removeFieldByValue(c.value) : addField(c.value)" *ngFor="let c of categoriesListTagged$ | async">{{ c.value }}</button>
</div>

<button type="button" (click)="setRandomCategoriesDiceRoll()">5 zufällige Kategorien</button>

<form [formGroup]="form" (ngSubmit)="save()">
    <div formArrayName="categories">
        <button type="button" (click)="addField()">+</button>
        <div *ngFor="let c of categoriesFormArray.controls; index as i">
            <input type="text" [name]="'cat' + i" [formControlName]="i" autocomplete="off">
            <button type="button" (click)="removeField(i)">X</button>
        </div>
    </div>

    <button type="submit">Speichern</button>
</form>
