<h2 class="sub-headline">Kategorien festlegen</h2>

<div class="categories-panel space-x-2 p-2">
  <button
    type="button"
    class="categories-panel-button rounded-md hover:bg-green-800 hover:bg-opacity-20 text-md font-medium"
    [class.disabled]="c.added"
    (click)="c.added ? removeFieldByValue(c.value) : addField(c.value)"
    *ngFor="let c of categoriesListTagged$ | async"
  >
    {{ c.value }}
  </button>
</div>

<button type="button" (click)="setRandomCategoriesDiceRoll()">
  5 zufällige Kategorien
</button>

<form [formGroup]="form" (ngSubmit)="save()">
  <div formArrayName="categories">
    <button
      class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      type="button"
      (click)="addField()"
    >
      <svg
        class="-ml-1 mr-2 h-5 w-5 text-gray-500"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
          clip-rule="evenodd"
        />
      </svg>

      Feld hinzufügen
    </button>

    <div
      class="mt-1 relative rounded-md shadow-sm"
      *ngFor="let c of categoriesFormArray.controls; index as i"
    >
      <input
        type="text"
        [formControlName]="i"
        autocomplete="off"
        class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
      />
      <div class="absolute inset-y-0 right-0 flex items-center">
        <button
          type="button"
          class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 px-3 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md"
          (click)="removeField(i)"
        >
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <button class="primary-button" type="submit">Speichern</button>
</form>
