<div class="flex justify-center flex-col">
  <!--<img src="assets/undraw_winners_ao2o.svg" alt="Gewinner" class="" />-->

  <app-game-winner-graphic
    *ngIf="firstPlayer$ | async as winner"
    [name]="winner.name"
    [emoji]="winner.emoji"
    class="w-full max-w-screen-md mx-auto mb-5"
  ></app-game-winner-graphic>

  <div class="text-center" *ngIf="gameCreatedByMe$ | async">
    <button class="btn primary mt-2 mb-5" (click)="createNewGame()">
      <span class="text-lg lg:text-xl px-2">Neues Spiel</span>
    </button>
  </div>

  <app-game-player-list></app-game-player-list>
</div>
