<strong>Buchstabe: {{ letter$ | async }}</strong>

<form [formGroup]="form">
    <div formArrayName="answers">
        <div *ngFor="let c of categories$ | async; index as i">
            <label>{{ c }}</label><br>
            <input type="text" [formControlName]="i">
        </div>
    </div>

    <button type="button" (click)="stop()" [disabled]="form.invalid">STOP</button>
</form>

<div style="font-size: 2em; color: red" *ngIf="countDown$ | async as countDown">Runde vorbei in {{ countDown.value }} s</div>