<div class="flex justify-center w-full">
  <app-alarm-pulse
    *ngIf="countDown$ | async as countDown; else letterDisplay"
    [value]="countDown.value"
  ></app-alarm-pulse>
  <ng-template #letterDisplay>
    <div
      class="write-letter text-gray-100 font-bold text-8xl flex justify-center align-middle p-6 rounded-full bg-gray-400"
    >
      {{ letter$ | async }}
    </div>
  </ng-template>
</div>

<form [formGroup]="form">
  <div formArrayName="answers" class="grid lg:grid-cols-3 md:grid-cols-2 gap-x-2 my-4">
    <div *ngFor="let c of categories$ | async; index as i">
      <label class="block text-md mt-2">{{ c }}</label>
      <input
        type="text"
        [formControlName]="i"
        class="w-full text-2xl form-control mb-4"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="flex justify-center w-full">
    <button
      type="button"
      class="btn danger max-w-screen-md w-full lg:w-1/3"
      [disabled]="(stopped$ | async) || (form.invalid && !(gameCreatedByMe$ | async))"
      (click)="stop()"
    >
      <div class="text-3xl py-3 px-20">STOP</div>
    </button>
  </div>
</form>
