@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input {
  @apply border-green-800;
}

button {
  @apply outline-none focus:outline-none;

  &.primary,
  &.secondary {
    @apply px-4 py-2 border rounded-md shadow-sm text-sm font-medium;
  }

  &.primary {
    @apply border-green-700 text-white bg-green-800 hover:bg-green-700 focus:ring-green-500;
  }

  &.secondary {
    @apply border-gray-300 text-gray-700 bg-white hover:bg-gray-100 focus:ring-indigo-500;
  }

  &:disabled,
  &.disabled {
    @apply bg-opacity-20 bg-green-800 text-opacity-70 cursor-not-allowed;
  }
}

input[type="text"] {
  // @apply border-2 p-2 my-2 border-opacity-30 h-10 rounded-none;
}

button.category-pill {
  @apply rounded-md p-1 px-2 bg-green-800 m-1 bg-opacity-10 hover:bg-green-800 hover:bg-opacity-20 font-medium border border-green-600;

  &.added {
    @apply bg-opacity-100 text-white;
  }
}

.write-letter {
  width: 150px;
  height: 150px;
}
.letter {
  font-size: 30rem;
  line-height: 1;

  &.final {
    @apply transition ease-in duration-200 text-green-800;
  }
}

.sub-headline {
  @apply text-2xl mt-5 mb-2 font-normal;
}

.categories-panel {
  background-color: lightgray;
}

table.row-points {
  .points0 {
    @apply bg-red-200 text-red-900;
  }

  .points5 {
    @apply bg-yellow-600 bg-opacity-30 text-yellow-900;
  }

  .points10 {
    @apply bg-yellow-200 text-yellow-700;
  }

  .points20 {
    @apply bg-green-100 text-green-800;
  }

  .player-stopped-border {
    @apply border-l-8 border-red-300;
  }

  .row-points-gray {
    @apply bg-gray-100 text-gray-800;
  }

  .row-points-green {
    @apply bg-green-100 text-green-800;
  }
}
