@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input {
  @apply border-green-800;
}

button {
  @apply outline-none focus:outline-none;

  &.btn {
    @apply px-4 py-2 border rounded-md shadow-sm text-sm font-medium;

    &.btn-xs {
      @apply text-xs px-2 py-1;
    }

    &.primary {
      @apply border-green-700 text-white bg-green-800 hover:bg-green-700 focus:ring-green-500;
    }

    &.secondary {
      @apply border-gray-300 text-gray-700 bg-white hover:bg-gray-100 focus:ring-indigo-500;
    }

    &.danger {
      @apply border-red-700 text-white bg-red-800 hover:bg-red-700 focus:ring-red-500;
    }

    &.icon {
      @apply inline-flex items-center;

      svg {
        @apply m-0 h-5 w-5;
      }

      &-right svg {
        @apply -mr-1 ml-2;
      }

      &-left svg {
        @apply -ml-1 mr-2;
      }
    }

    &:disabled {
      @apply cursor-not-allowed text-opacity-70;
    }
  }

  /*&:disabled,
  &.disabled {
    @apply bg-opacity-20 bg-green-800 text-opacity-70 cursor-not-allowed;
  }*/
}

input[type='text'] {
  &.form-control {
    @apply focus:ring-green-500 focus:border-green-500 block w-full py-2 sm:text-sm border-gray-300 rounded-md;
  }
}

.categories-form-panel {
  @apply p-3 rounded-md bg-gray-200 flex flex-wrap;

  button {
    @apply rounded-md p-1 px-2 bg-green-800 m-1 bg-opacity-10 hover:bg-green-800 hover:bg-opacity-20 font-medium border border-green-600;

    &.added {
      @apply bg-opacity-100 text-white;
    }
  }
}

.categories-list {
  @apply flex flex-wrap;
  span {
    @apply rounded-md p-1 px-2 bg-green-800 mb-1 mr-1 bg-opacity-10 font-medium border border-green-600 text-sm;
  }
}

form.write-form {
  &.stopped {
    input {
      @apply bg-red-800 bg-opacity-10 border-red-700 focus:ring-red-500 focus:border-red-500 text-red-900;
    }
  }
}

.write-letter {
  width: 150px;
  height: 150px;
}
.letter {
  font-size: 20rem;
  line-height: 1;

  &.final {
    @apply transition ease-in duration-200 text-green-800;
  }
}

.sub-headline {
  @apply text-2xl mt-5 mb-2 font-normal;
}

.categories-panel {
  background-color: lightgray;
}

table.row-points {
  .points {
    &0 {
      @apply bg-red-200 text-red-900;
    }

    &5 {
      @apply bg-yellow-600 bg-opacity-30 text-yellow-900;
    }

    &10 {
      @apply bg-yellow-200 text-yellow-700;
    }

    &20 {
      @apply bg-green-100 text-green-800;
    }
  }

  .row-points {
    &-gray {
      @apply bg-gray-100 text-gray-800;
    }

    &-green {
      @apply bg-green-100 text-green-800;
    }
  }

  .player-stopped-border {
    @apply border-l-8 border-red-300;
  }
}

.emoji-panel {
  button {
    border: 0;
    background: none;
    font-size: 1.5em;
  }
}

.animate-score {
  animation: pulse-score 0.4s ease-in;
}

@keyframes pulse-score {
  0%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(3);
  }
}
