<table *ngIf="data$ | async as data" class="table-fixed">
    <thead>
        <tr>
            <th class="w-1">Spieler</th>
            <th class="w-1">Punkte</th>
            <th *ngFor="let c of data.categories" class="w-1">{{ c }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data.answerRows">
            <td>
                {{ row.player.emoji }} {{ row.player.name }}
                <span *ngIf="row.player.id === data.stoppedByPlayer">🛑</span>
            </td>
            <td>{{ reduceRowPoints(row.answers) }}</td>
            <td *ngFor="let a of row.answers; index as i" [ngClass]="getCellClasses(a.points)">
                {{ a.value }}
                <span *ngIf="a.points >= 0" style="font-weight: bold; color: red">{{ a.points }}</span>
                <div *ngIf="gameCreatedByMe$ | async">
                    <button type="button" *ngFor="let points of [0, 5, 10, 20]"
                        (click)="setPoints(row.answerId, i, points)">{{ points }}</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<ng-container *ngIf="gameCreatedByMe$ | async">
    <button (click)="finishRound()">Punkte speichern und Runde beenden</button>
</ng-container>
