<table *ngIf="data$ | async as data">
    <thead>
        <tr>
            <th>Spieler</th>
            <th>Punkte</th>
            <th *ngFor="let c of data.categories">{{ c }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data.answerRows">
            <td>{{ row.player.name }}</td>
            <td>{{ reduceRowPoints(row.answers) }}</td>
            <td *ngFor="let a of row.answers; index as i" [ngClass]="{ points0: a.points === 0, points1: a.points === 10, points2: a.points === 20 }">
                {{ a.value }} ({{ a.points }})
                <div *ngIf="gameCreatedByMe$ | async">
                    <button type="button" (click)="setPoints(row.answerId, i, 0)">0</button>
                    <button type="button" (click)="setPoints(row.answerId, i, 10)">10</button>
                    <button type="button" (click)="setPoints(row.answerId, i, 20)">20</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<ng-container *ngIf="gameCreatedByMe$ | async">
    <button (click)="finishRound()">Punkte speichern und Runde beenden</button>
</ng-container>

<pre>{{ players$ | async | json }}</pre>